## An illustration of a problem I'm trying to solve

Basically, I want to do the reverse of eval(): given a variable, I want to have the NAME of the variable as a string.

To illustrate this, let's imagine an inventory system implemented INCREDIBLY poorly:

In [1]:
# items in inventory represented by dicts

sunglasses = {'price':24.99, 'inventory':31, 'description':'a pair of sunglasses'}
flipflops = {'price':14.95, 'inventory':100, 'description':'sandals with no back strap'}
tshirt = {'price':19.99, 'inventory':60, 'decription':'basic t-shirt'}
tshirt2 = {'price':29.99, 'inventory':20, 'description':'t-shirt with improved logo'}
cooler = {'price':9.95, 'inventory':27, 'description':'disposable styrofoam cooler'}

# regular customers get represented by dicts too... I know, nobody would do this, but bear with me

sean = {'credit':0, 'purchases':3}
jill = {'credit':-10.75, 'purchases':11}
bill = {'credit':5.50, 'purchases':8}

Let's suppose further that, despite having these entities represented as dicts, the person responsible for this wishes to store a transaction log as a dataframe.

In [2]:
from datetime import date
import pandas as pd
t_cols = ['date', 'item', 'customer', 'quantity', 'total']
transactions = pd.DataFrame(columns=t_cols)

Probably the 'transactions' dataframe would already have something in it.

In [3]:
sale = ['09/02/2021', 'sunglasses', 'jill', '1', 24.99]
transactions = transactions.append(dict(zip(t_cols, sale)), ignore_index=True)
sale = ['09/26/2021', 'tshirt2', 'bill', '1', 29.99]
transactions = transactions.append(dict(zip(t_cols, sale)), ignore_index=True)
sale = ['10/13/2021', 'tshirt', 'sean', '2', 49.98]
transactions = transactions.append(dict(zip(t_cols, sale)), ignore_index=True)
transactions

         date        item customer quantity  total
0  09/02/2021  sunglasses     jill        1  24.99
1  09/26/2021     tshirt2     bill        1  29.99
2  10/13/2021      tshirt     sean        2  49.98

Ok.  So now let's suppose we want to write a function to log sales.  I would like to do something like this... (yes, this is a bad function in many ways, but bear with me)

In [4]:
def log_sale(customer, item, quantity=1, date=date.today()):
    output = pd.DataFrame(columns=t_cols)
    total = item['price']*quantity
    item['inventory'] = item['inventory'] - quantity
    customer['purchases'] = customer['purchases'] + quantity
    customer['credit'] = customer['credit'] - total
# THERE IS NO 'NAME_OF' FUNCTION... or is there?
    this_sale = [date, NAME_OF(item), NAME_OF(customer), quantity, total]
    output = output.append(dict(zip(t_cols, this_sale)), ignore_index=True)
    
    return output

This will simply fail to run, and nothing I've tried has done what I want NAME_OF() to do.  In order to do what I intend requires this monstrosity:

In [5]:
def log_sale_bad(customer, customer_name, item, item_name, quantity=1, date=date.today()):
    output = pd.DataFrame(columns=t_cols)
    total = item['price']*quantity
    item['inventory'] = item['inventory'] - quantity
    customer['purchases'] = customer['purchases'] + quantity
    customer['credit'] = customer['credit'] - total
    this_sale = [date, item_name, customer_name, quantity, total]
    output = output.append(dict(zip(t_cols, this_sale)), ignore_index=True)
    
    return output

In [6]:
log_sale_bad(jill, 'jill', sunglasses, 'sunglasses', 4)

         date        item customer quantity  total
0  2021-11-11  sunglasses     jill        4  99.96

You can see how awkward this is.  Additionally, I can't seem to make such a function append to the transactions dataframe from within the function.  It's also awkward that, to update the dataframe, I must invoke something like:

In [7]:
transactions=transactions.append(log_sale_bad(jill, 'jill', sunglasses, 'sunglasses', 4), ignore_index=True)
transactions

         date        item customer quantity  total
0  09/02/2021  sunglasses     jill        1  24.99
1  09/26/2021     tshirt2     bill        1  29.99
2  10/13/2021      tshirt     sean        2  49.98
3  2021-11-11  sunglasses     jill        4  99.96